.jfx-button, .button {
  -fx-cursor: hand;
  -fx-padding: 5 10 5 10;
  -fx-focus-traversable: false;
  -fx-color-label-visible: false;
}

.bt-visualize {
  -fx-background-color: transparent!important;
  -fx-border-color: transparent!important;

  &:hover {
    > .glyph-icon {
      -fx-fill: #012a4a !important;
    }
  }

  > .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-fill: -color-white!important;
    -fx-highlight-fill: -color-red!important;
  }
}

.bt-param {
  -fx-opacity: .5;
  -fx-background-color: -color-white;
  -fx-border-color: -color-blue;
  -fx-pref-width: 50px;
  -fx-pref-height: 50px;
  -fx-background-radius: 50px;
  -fx-border-radius: 50px;
  -fx-border-width: 4px;

  &:hover, &:pressed {
    -fx-opacity: .85;
  }
}