.button {
  -fx-cursor: hand;
  -fx-font-size: 14px;
  -fx-font-weight: 600;
  -fx-text-fill: -bs-btn-color;
  -fx-padding: 8.5px 25px;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
  -fx-border-width: 1;
}

.btn-play {
  -fx-cursor: hand;
  -fx-background-color: -btn-play-color;
  -fx-background-radius: 4px;
  -fx-pref-height: 41px;
  //-fx-padding: 0px 20px;
  //-fx-border-insets: 10px 15px;

  & Text {
    -fx-fill: -color-white;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
    //-fx-label-padding: 10px 15p 10px 15px;
  }

  &:blocked {
    -fx-background-color: -color-red;
    -fx-cursor: WAIT;
  }
}