#cell {
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-stroke-borders: 1px;
  -fx-border-color: -grid-border-color;
  -fx-pref-width: 25;
  -fx-pref-height: 25;

  > .start {
    -fx-image: url("/icons/triangletwo-right.png");
  }

  > .target {
    -fx-image: url("/icons/circle.png");
  }

  &.wall {
    -fx-background-color: -wall-color;
    -fx-border-color: -wall-color;
  }

  &.pointer {
    -fx-background-color: -pointer-color!important;
    -fx-border-color: -pointer-color!important;;
  }

  &.path {
    -fx-background-color: -shortest-path-color;
    -fx-border-color: -shortest-path-color;
  }

  &.visited {
    -fx-background-color: -visited-color!important;
    -fx-border-color: -visited-color!important;
  }

  &.unvisited {
    -fx-background-color: -path-color;
    -fx-border-color: -grid-border-color;
  }
}