Label {
  -fx-opacity: 100%;
  -fx-font-size: 12px;
  -fx-font-style: normal;
}

.title {
  -fx-text-fill: #fff!important;
  -fx-font-size: 22px;
  -fx-font-weight: bold;
  -fx-label-padding: 20px;
  -fx-padding: 5px;
}