@import "button";
@import "label";
@import "menu";
@import "grid";

.root * {
  -color-red: #ae2012;
  -color-blue: #005f73;
  -color-yellow: #ee9b00;
  -color-green: #70e000;
  -color-grey: #212529;
  -color-white: #fff;
  -color-black: #000;
  -fx-font-smoothing-type: lcd;
  -fx-font-family: Metropolis, Helvetica, Arial, sans-serif;
  -fx-text-fill: -color-black;
}